@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Eagle+Lake&display=swap');
*{
    margin: 0;
    padding: 0;
    font-weight: 400;
}
:root {
    --marrom-escuro: #562c2cff;
    --laranja: #f2542dff;
    --creme: #f5dfbbff;
    --ciano-escuro: #0e9594ff;
    --azul-estranho: #127475ff;
    --preto: #000000;
    --branco: #ffffff;
    --fonte-primaria: "Cinzel Decorative", serif;
    --fonte-secundaria: "Eagle Lake", serif;

}
body{
    background-color: var(--ciano-escuro);
    color: var(--azul-estranho);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: var(--fonte-primaria);

}
.caixa-principal{
    background-color: var(--creme);
    width: 90%;
    text-align:center;
    padding: 20px;
}
.titulo{
    font-family: var(--fonte-secundaria);
}